.root {
  // padding: 60px 0;
  background: #FFF;
  color: #000;
}

.wrap {
  // width: 600px;
  margin: 30px auto;
  padding: 2em;
  box-shadow: 0px 0px 120px 0px rgba(1, 1, 1, 0.12);
}

.border {
  border-top: 1px solid rgba(0,0,0,.05);
}

.hastag {
  text-align: center;
  padding: 30px 0 0 0;
  a {
    font-size: 1.7em;
  }
}
