.root {
  background: #EEEEEE;
  color: rgba(0, 0, 0, 0.84);
  padding: 60px 0;
  position: relative;
  z-index: 99;
  text-align: center;
}

.title {
  font-size: 4em;
  font-family: 'Alex Brush',myriad-pro,sans-serif,Helvetica Neue,Helvetica;
}
