.root {
  padding: 60px 0;
  margin: 0 auto;
  overflow: hidden;
  color: #333;
  background: #FFF;
  text-align: center;
  p {
    font-weight: 300 !important;
  }
}

.title {
  font-size: 4em;
  font-family: 'Alex Brush',myriad-pro,sans-serif,Helvetica Neue,Helvetica;
}

.slider {
  margin: 50px 0;
}

h3 {
  background: #33a9e0;
}
