.root {
  height: 600px;
  background: #000 url(../assets/images/melisa_center.jpg) 50% 50% no-repeat;
  background-size: cover;
  text-align: center;
}

.overlay {
  padding: 60px 0;
  position: relative;
  z-index: 1;
  height: 100%;
  font-weight: lighter;
  background: rgba(0,0,0,.45);
  transition: background 2s;
  &:hover {
    background: rgba(0,0,0,.55);
  }
}

.title {
  font-size: 4em;
  font-family: 'Alex Brush',myriad-pro,sans-serif,Helvetica Neue,Helvetica;
  margin-bottom: 50px;
}

.name {
  font-weight: bold;
}

.map {
  color: rgba(250, 250, 250, .74);
  font-size: .75em;
  text-decoration: underline;
  &:hover {
    color: rgba(250, 250, 250, 1);
  }
}

.rsvp {
  padding-top: 50px;
}
