.root {
  background: rgba(0,0,0,0.35);
  height: 100vh;
}

.img {
  width: 100%;
  height: 100%;
}

.center {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 200px;
}

.center img {
  max-width: 260px;
}
